.card-item{
    background-color: black;
    /* box-shadow: 20px 20px 20px  white; */
    transition: all 0.3s;
    /* slider css react-slick */
    min-height:450px;
    margin:10px;
    height:100%;
}
.card-item:hover{
    transform:scale(1.1, 1.1);
    transition: all 0.3s;
}
.card-top{
    height:300px;

}
.card-top img{
    width:100%;
    height:100%;
}
.card-info{
    color:white;

}
.card-info h4{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}
.card-bottom{
    padding:20px;
}